body {
    background-color: whitesmoke; 
    font-family: Arial, Helvetica, sans-serif;
    width: 980px;
    margin: auto;
}

/* Header */
header {
    background-color: white;
    font-family: sans-serif;
}

/* Horizontal Navigation Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li.navLeft {
    float: left;
}

li.navRight {
    float: right;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: maroon;
}

li.dropdown {
    float: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Contact Page Form */
label {
    padding: 6px 6px 6px 0px;
    display: inline-block;
    margin: 2px 6px;
}

input[type=text], input[type=tel], input[type=email], textarea { 
    width: 100%;
    padding: 12px 20px;
    margin: 6px 6px;
    resize: vertical;
    font-family: Arial, Helvetica, sans-serif;
}

select, input[type=number]{
    width: 100px;
    padding: 8px 12px;
    margin: 6px 6px;
}

textarea {
    height: 200px;
}

input[type=submit], input[type=reset] {
    width: 100px;
    height: 60px;
    background-color: maroon;
    color: white;
    padding: 16px 16px;
    border: none;
    border-radius: 4px;
    margin: 8px 8px;
}

input[type=submit]:hover, input[type=reset]:hover {
    background-color: red;
}


